@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodapé.css");
:root{
    --cor-de-fundo: #ebecef;
    --branco:#ffff;
    --laranja: #eb9b00;
    --azul-padrao: #002f52;
    --azul-degrade: linear-gradient(97deg, #002F52 35%, #326589 100%);
    --fonte-principal:"poppins"
     
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
